.loading {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
